name: Elixir Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-24.04

    container:
      image: hexpm/elixir:1.19.4-erlang-28.1-debian-bookworm-20251117

    steps:
      - name: Install git
        run: |
          apt-get update
          apt-get install -y git

      - name: Checkout repository and submodules
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          submodules: recursive

      - name: Update submodules
        run: |
          git config --global --add safe.directory /__w/elixir-analyzer/elixir-analyzer
          git submodule update --recursive --remote

      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Run Tests
        run: mix test --exclude external

      - name: Update coverage badge on push
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: mix coveralls.github --exclude external
        env:
          MIX_ENV: test
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check formatting
        run: mix format --check-formatted

      - name: Run Credo
        run: mix credo

      - name: Retrieve PLT Cache

        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        id: plt-cache
        with:
          path: priv/plts
          key: elixir:1.19.4-erlang-28.1-debian-bookworm-20251103-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}-v3

      - name: Create PLTs
        if: steps.plt-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p priv/plts
          mix dialyzer --plt

      - name: Run dialyzer
        run: mix dialyzer

  smoke-test:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Run Smoke Test in Docker
        run: bin/run-tests-in-docker.sh
