name: Elixir Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: hexpm/elixir:1.12.1-erlang-24.0.1-ubuntu-focal-20210325

    steps:
      - name: Install git
        run: |
          apt-get update
          apt-get install -y git

      - name: Checkout repository and submodules
        uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
        with:
          submodules: recursive

      - name: Update submodules
        run: |
          git submodule update --recursive --remote

      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Run Tests
        run: mix test --exclude external

      - name: Check formatting
        run: mix format --check-formatted

      - name: Run Credo
        run: mix credo

      - name: Retrieve PLT Cache

        uses: actions/cache@v2.1.5
        id: plt-cache
        with:
          path: priv/plts
          key: elixir:1.12.1-erlang-24.0.1-ubuntu-focal-20210325-plts-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}-v3

      - name: Create PLTs
        if: steps.plt-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p priv/plts
          mix dialyzer --plt

      - name: Run dialyzer
        run: mix dialyzer
