name: Elixir External Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: hexpm/elixir:1.15.2-erlang-26.0.2-debian-bookworm-20230612

    steps:
      - name: Install git
        run: |
          apt-get update
          apt-get install -y git

      - name: Checkout repository and submodules
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          submodules: recursive

      - name: Update submodules
        run: |
          git config --global --add safe.directory /__w/elixir-analyzer/elixir-analyzer
          git submodule update --recursive --remote

      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Run Tests
        run: mix test --only external
